{% extends 'invitations/home.html' %}

{% block title %}<title>Change a guest </title>{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST" action="/guests/change/{{ form.instance.id }}" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                {{form.as_p}}
            </div>
            <button type="submit" name="save" class="btn btn-success"> Save changes</button>
        </div>
    </form>
{% endblock %}

