{% extends 'invitations/home.html' %}
{% block title %}<title>Events</title>{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Events</h1>
    <form action="/events/add"><button type="submit" class="btn btn-success">Add an event</button></form>


    {% if events %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Event</th>
                <th scope="col">Group</th>
                <th scope="col">Template</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}

                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.group }}</td>
                    <td>{{ event.template }}</td>
                    <td>
                        <form action="/events/delete/" method="post">
                            {% csrf_token %}
                            <input type="text" name="id" id="event_{{ event.id }}"
                                   value="{{ event.id }}" hidden>
                            <button type="submit" class="btn btn-danger">delete</button>

                        </form>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <dev><p> You have no events yet </p></dev>
    {% endif %}


    {% comment %}<div><button type="submit" name="save"> Add a new event </button></div>{% endcomment %}
    {% comment %}</form>{% endcomment %}
{% endblock %}

