{% extends 'invitations/home.html' %}
{% block title %}<title>Events</title>{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Events</h1>
    <p>Here you can add or delete an event </p>

{% comment %}    <form method="POST" action="add_event/">
    {% csrf_token %}
        {{ form|crispy }}{% endcomment %}
        {% if events %}
            <ul>
                {% for event in events %}
                    <li><input type="checkbox" value="clicked" name="c{{event.id}}}}" checked>
                      {{ event.name }}, {{ event.group }}, {{ event.template }}

                    </ul>
                {% endfor %}

        {% else %}
            <dev><p> You have no events yet </p></dev>
        {% endif %}

    <div><a href="/events/add_event">add event</a> </div>
        {% comment %}<div><button type="submit" name="save"> Add a new event </button></div>{% endcomment %}
    {% comment %}</form>{% endcomment %}
{% endblock %}

