{% extends 'invitations/home.html' %}
{% block title %}<title>Groups</title>{% endblock %}

{% block content %}

    <h1>Friends</h1>
    <form action="/groups/add", method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" name="name">
        <div class="input-group-prepend">
            <button type="submit" name="save" class="btn btn-success">Add a group</button>
        </div>
    </div>
    </form>

    {% if groups %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Group</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td><a href="/groups/view_group/{{ group.id }}">{{ group.name }}({{ group.guest_set.all.count }})</a></td>
                    <td>
                        <form action="/groups/delete/" method="post">
                            {% csrf_token %}
                            <input type="text" name="id" id="group_{{ group.id }}"
                                   value="{{ group.id }}" hidden>
                            <button type="submit" class="btn btn-danger">delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <dev><p> You have no groups </p></dev>
    {% endif %}



{% endblock %}

