{% extends 'invitations/home.html' %}
{% block title %}<title>Groups</title>{% endblock %}

{% block content %}

    <h1>Groups</h1>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<button type="submit" name="newGroup" value="newGroup" class="btn btn-success">Add a group</button>
			</div>
			<input type="text" name="new">
		</div>

		<button type="submit" name="save" value="save" class="btn btn-success">Save</button>

        {% if groups %}
            {% for group in groups %}
                <table class="table">
                    <tbody>
                    <tr>
                        <td>{{ group.name }}</td>
                        <td><a href="#">delete</a></td>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
        {% else %}
            <dev><p> You have no groups </p></dev>
        {% endif %}



{% endblock %}

