{% extends 'invitations/home.html' %}
{% block title %}<title>Guests</title>{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Guests</h1>
    <p>Here you can add or delete a guest to group</p>

    <form method="POST" action="#">
        {% csrf_token %}
        {{ form|crispy }}
        {% if groups %}

            {% for group in groups %}
                <div class="input-group mb-3">
                    <input type="checkbox" value="clicked" name="c{{ group.name }}}}" checked>
                    {{ group.name }}
                    {% for guest in  group.guest_set.all %}
                        {{ guest.name }}
                    {% endfor %}
                </div>
            {% endfor %}

        {% else %}
            <dev><p> You have no groups and no guests </p></dev>
        {% endif %}
        <button type="submit" name="save_guest"> Save</button>
        <input type="text" name="new">
        <button type="submit" name="save"> Add a new guest</button>
    </form>
{% endblock %}

