{% extends 'invitations/home.html' %}
{% block title %}<title>Templates</title>{% endblock %}
{% block content %}

    <h1>Templates</h1>
    <form action="/templates/add">
        <button type="submit" class="btn btn-success">Add a new template</button>
    </form>

    <form method="POST" action="#">
    {% csrf_token %}
    {% if templates %}
        <table class="table">
        <caption>List of templates</caption>
            <thead>
            <tr>
                <th scope="col">Template</th>
                <th scope="col">Content</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-striped">
            {% for template in templates %}

                <tr>
                    <td>{{ template.name }}</td>
                    <td class="col-xs-2"> <pre>{{ template.content }}</pre></td>
                    <td>
                        <a href="/templates/change/{{ template.id }}" class="btn btn-warning">change </a>
                    </td>
                    <td>
                        <form action="/templates/delete/" method="post">
                            {% csrf_token %}
                            <input type="text" name="id" id="template_{{ template.id }}"
                                   value="{{ template.id }}" hidden>
                            <button type="submit" class="btn btn-danger">delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>

            {% endfor %}
        </table>
    {% endif %}

{% endblock %}

